<!DOCTYPE html>
<html>
  <head>
    <style >
      <%- include('css/reset.css'); %>
      [style*="--aspect-ratio"] > :first-child {
        width: 100%;
      }
      [style*="--aspect-ratio"] > img {
        height: auto;
      }
      @supports (--custom:property) {
        [style*="--aspect-ratio"] {
          position: relative;
        }
        [style*="--aspect-ratio"]::before {
          content: "";
          display: block;
          padding-bottom: calc(100% / (var(--aspect-ratio)));
        }
        [style*="--aspect-ratio"] > :first-child {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }
      }
    </style>


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style >
      <%- include('css/style.css'); %>
    </style>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body style="overflow: auto">
  <nav class="grey darken-4">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">aDuana</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="/"><i class="material-icons left">add</i>Store your page</a></li>
        <li><a href="/activity"><i class="material-icons left">insert_chart</i>Activity</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li class="active"><a href="/"><i class="material-icons left">add</i>Store your page</a></li>
    <li><a href="/activity"><i class="material-icons left">insert_chart</i>Activity</a></li>
  </ul>

    <div class="card" style="margin: 0; padding: 0;">
      <div class="row" style="margin: 0">

        <div class="container">
          <form>
            <div>
              <div class="input-field col s12 m9 l10">
                <input id="input_text" type="text">
                <label for="input_text">Search</label>
              </div>
              <a onclick="refresh_preview()" class="deep-orange darken-2 waves-effect waves-light btn">Preview</a>
            </div>
            <br>
            <ul class="collapsible" style="border: none;box-shadow: none; margin: 0; margin-top: 25px">
              <li>
                <label style="margin-left: 7px; margin-right: 7px; display: inline-block"><input id="reset" name="reset" type="checkbox" checked/><span>Reset styles</span></label>
                <label style="margin-left: 7px; margin-right: 7px; display: inline-block"><input id="libstyle" name="libstyle" type="checkbox" checked/><span>Responsive</span></label>
                <label style="margin-left: 7px; margin-right: 7px; display: inline-block"><input id="header" name="header" type="checkbox" checked/><span>Add Header</span></label>
                <div class="collapsible-header" style="width: 80%">
                  <div style="margin-left: 7px; margin-right: 7px;">Extra filters <i class="material-icons">arrow_drop_down</i></div>
                </div>
                <div class="collapsible-body" style="border-bottom: none">

                  <div class="input-field col s12">
                    <select name="parser" id="parser">
                      <option value="readability" selected>Redability</option>
                      <option value="mercury">Mercury</option>
                      <option value="article-parser">Article Parser</option>
                    </select>
                    <label>Select Extractor</label>
                  </div>

                  <div class="input-field col s12">
                    <select name="engine" id="engine">
                      <option value="simple" selected>Request</option>
                      <option value="browser">Browser</option>
                    </select>
                    <label>Select Engine</label>
                  </div>

                  <div class="input-field col s12">
                    <select name="format" id="format">
                      <option value="html" selected>HTML</option>
                      <option value="text">Text</option>
                    </select>
                    <label>Format Content</label>
                  </div>

                  <div class="input-field col s12">
                    <select name="mode" id="mode">
                      <option value="" selected>Choose your option</option>
                      <option value="dark">Dark</option>
                      <option value="light">Light</option>
                      <option value="sepia">Sepia</option>
                      <option value="groove-dark">Groove Dark</option>
                      <option value="solarized-light">Solarized Light</option>
                      <option value="solarized-dark">Solarized Dark</option>
                    </select>
                    <label>Color Theme</label>
                  </div>
                </div>
              </li>
            </ul>
          </form>

        </div>
      </div>
      <div id="loader" style="display: none; margin: 0;" class="progress ">
        <div class="deep-orange darken-3 indeterminate"></div>
      </div>


      <div class="fixed-action-btn"  style="z-index: 1000; ">
      <a class="deep-orange darken-1 btn-floating btn-large tooltipped modal-trigger" href="#modal1" data-position="left" data-tooltip="Save site">
        <i class="large material-icons">save</i>
      </a>
    </div>
    </div>

    <div style="--aspect-ratio: 16/9;">
      <iframe id='preview' src="" frameborder="0" style="width: 100%; height: 100vh" allowfullscreen></iframe>
    </div>

    <section id='donation' style="
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
">

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4 class="deep-orange-text text-darken-3 ">Disclosure</h4>
          <p>Do you agree that you are responsible for the content that will archive and should not archive copyrighted
            content that they do not own?</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">DISAGREE</a>
          <a id="save"  href="#!" class="modal-close waves-effect waves-red btn-flat">AGREE</a>
        </div>
      </div>

      <footer class="page-footer grey darken-4">
        <div class="container">


          <div class="row" style="margin-bottom: 0px; padding-bottom: 20px">

            <p style="display: inline-block" class="grey-text text-lighten-4"><i class="material-icons" onclick="ocultar()">cancel</i> Help to make this proyect sustainable, consider donate to <%= address %>!</p>


            <a href="https://viewblock.io/arweave/address/<%= address %>" class="waves-effect waves-light orange darken-4 right btn">donate</a>
          </div>
        </div>
      </footer>
    </section>


    <!--JavaScript at end of body for optimized loading-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="application/javascript">
      <%- include('js/script.js'); %>
      $('select').formSelect();
      $('.modal').modal();

    </script>
  </body>
</html>
